@model IEnumerable<LifePlan.Models.DataModels.Person>
@{
    ViewData["Title"] = "IndexSearch";
}
    <div class="badge">

        <h3>People Lastname search</h3>



        <form asp-controller="People" asp-action="IndexSearch">
            <p>
                Search for Lastname: <input type="text" name="SearchString">
                <input type="submit" value="Search" />
            </p>
        </form>
        <p>
            <a class="btn btn-sm btn-success" asp-action="Create">Create New</a>
        </p>

        <table class="table table-responsive-sm table-striped">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.FullName)</th>


                    <th>@Html.DisplayNameFor(model => model.Address)</th>
                    <th>@Html.DisplayNameFor(model => model.Email)</th>

                    <th>@Html.DisplayNameFor(model => model.IdentityUser)</th>
                    <th>@Html.DisplayNameFor(model => model.PersonCategory)</th>

                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.OrderBy(p => p.LastName))
                {
                <tr>
                    <td> @Html.DisplayFor(modelItem => item.FullName)</td>

                    <td> @Html.DisplayFor(modelItem => item.Address)</td>
                    <td> @Html.DisplayFor(modelItem => item.Email)</td>

                    <td>@Html.DisplayFor(modelItem => item.IdentityUser.Email)</td>
                    <td>@Html.DisplayFor(modelItem => item.PersonCategory.PersonCategoryName)</td>


                    <td>
                        <a class="btn btn-sm btn-success" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <a class="btn btn-sm btn-success" asp-action="Details" asp-route-id="@item.Id">Details</a>
                        <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>

                </tr>
                }
            </tbody>
        </table>
        <a class="btn btn-sm btn-success" asp-controller="Home" asp-action="People">Back to People</a>
    </div>